<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-button expnad="full" (click)="StartBackgroundTracking()">StartBackgroundTracking</ion-button><br/>
  <ion-button expnad="full" (click)="StopBackgroundGeolocation()">StopBackgroundGeolocation</ion-button><br/>
  <ion-button expnad="full" (click)="GetLocations()">GetLocations</ion-button><br/>
  <ion-button expnad="full" (click)="ClearLocations()">ClearLocations</ion-button><br/>

  <ion-list *ngFor="let location of locations">
    <ion-item>
      <ion-label>
        <b>Latitude</b>
        {{location.latitude}}
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label>
        <b>Longitude</b>
        {{location.longitude}}
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label>
        <b>Speed</b>
        {{location.speed}}
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label>
        <b>Time</b>
        {{location.time}}
      </ion-label>
    </ion-item>
    
  </ion-list>
</ion-content>
